.has-sm-xs-font-size {
	--unitone--font-size: -1;
}

.has-sm-s-font-size {
	--unitone--font-size: -1;
}

.has-sm-l-font-size {
	--unitone--font-size: 1;
}

.has-sm-xl-font-size {
	--unitone--font-size: 2;
}

.has-sm-2-xl-font-size {
	--unitone--font-size: 3;
}

.has-sm-3-xl-font-size {
	--unitone--font-size: 4;
}

.has-sm-4-xl-font-size {
	--unitone--font-size: 5;
}

.has-sm-5-xl-font-size {
	--unitone--font-size: 6;
}

.has-sm-6-xl-font-size {
	--unitone--font-size: 7;
}
